body{
    background-color: rgb(71, 71, 71);
}
.verdade{
    color: aliceblue;
    font-size: 20px;
}
/*.familia{
    display: inline-block;
    box-sizing: content-box;
    border: 2px solid #000;

}
*/
.imagem1,
.imagem2,
.imagem3 {
    position: relative;
    display: inline-block;
    margin: 10px;
    border: 3px solid black; 
    /* Adicione margem para separar as figuras */
}

.imagem1 figcaption,
.imagem2 figcaption,
.imagem3 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
    border: 3px solid black;
}
.centro{
    text-align: center;
}